html {
  font-size: 20px;
}

* {
  margin: 0;
  padding: 0;
}

::selection {
  color: #FFF;
  background-color: #6197F2;
}

header ::selection {
  background-color: #2A62BF;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #F4F4F4;
  color: #808080;
}

header {
  background-color: #25A;
}

header a, header a:visited {
  color: #FFF;
  text-decoration: none;
}

header a:hover, header a:active {
  border-bottom: rgba(255, 255, 255, 0.4) 1px solid;
}


header, #header-outside-container {
  height: 12rem;
}

h1 {
  color: #FFF;
  font-size: 2.75rem;
  font-weight: 400;
  padding-top: 3rem;
  text-shadow: 1px 2px 0 rgba(0,0,0, 0.2);
}

#header-outside-container {
  width: 100%;
  max-width: 900px;
  margin: auto;
}

#header-inside-container {
  background-color: #2A62BF;
  height: 100%;
  text-align: center;
}

header h2 {
  color: #FFF;
  text-transform: uppercase;
  font-size: 1.15rem;
  letter-spacing: 0.1rem;
  padding: 0.1rem 0 2.25rem 0;
}

h2.contact-heading {
  display: none;
}

ul.contact {
  padding: 0 1rem;
  list-style: none;
  color: #FFF;
  font-weight: 300;
  height: 1rem;
  font-size: 0.85rem;
  letter-spacing: 0.015rem;
  white-space: nowrap;
}

.fa {
  cursor: default;
}

ul.contact .fa {
  margin-right: 0.3rem;
}

ul.contact .fa:before {
  font-size: 0.9rem;
  vertical-align: -0.05rem;
}

ul.contact .phone-dot {
  margin: 0 0.1rem;
}

ul.contact .phone-dot:before {
  font-size: 0.2rem;
  vertical-align: 0.2rem;
}

ul.contact li {
  width: 33.3%;
  float: left;
  text-align: center;
}

main {
  width: 100%;
  max-width: 900px;
  margin: 0 auto 2rem;
  clear: both;
  font-weight: 300;
  font-size: 1rem;
}

#main-container {
  background-color: #FFF;
  padding: 0.5rem 0 2rem 0;
}

main section {
  padding: 0 2rem;
}

main section:first-child {
  padding-top: 1.5rem;
}

main h2, main h3, main h4 {
  font-weight: 400;
}

main h2 {
  color: #505050;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

main h3 {
  color: #606060;
  font-size: 1.15rem;
  font-style: italic;
  margin-top: 1rem;
  margin-bottom: -0.5rem;
}

main h4 {
  color: #707070;
  font-size: 1rem;
  margin-top: 0.75rem;
  margin-bottom: -0.25rem;
}

main p, main ul {
  margin-top: 0.5rem;
  line-height: 1.4;
  letter-spacing: 0.01rem;
}

main ul {
  padding-left: 2rem;
}

main p, main ul li {
  padding-bottom: 0.2rem;
}

.section-divider.fa {
  display: block;
  width: 100%;
  color: #DDD;
  font-size: 1.15rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.bottom-border {
  border-bottom: #6197F2 0.18rem solid;
}

h2.bottom-border {
  padding-bottom: 0.1rem;
}

@media only screen and (max-width: 900px) {
  #header-outside-container {
    max-width: none;
  }

  #header-inside-container {
    margin: 0;
  }

  main {
    max-width: none;
  }

  main.bottom-border {
    border: none;
    margin-bottom: 0;
  }

  #main-container {
    margin: 0;
  }
}

@media only screen and (max-width: 640px) {
  html {
    font-size: 18px;
  }
}

@media only screen and (max-width: 540px) {
  h1 {
    padding-top: 2rem;
  }

  header h2 {
    padding-bottom: 1.5rem;
  }

  header, #header-outside-container {
    height: 14rem;
  }

  #header-inside-container {
    min-width: 0;
    text-align: left;
    padding-left: 1rem;
  }

  ul.contact {
    padding: 0;
  }

  ul.contact li {
    float: none;
    margin: 0.5rem 0;
    text-align: left;
  }

  ul.contact .contact-icon {
    margin-right: 0;
    width: 1.25rem;
  }

  ul.contact .fa-globe {
    position: relative;
    left: 0.05rem;
  }

  ul.contact .fa-phone {
    position: relative;
    left: 0.1rem;
  }

  #main-container {
    min-width: 0;
  }

  main section {
    padding: 0 1rem;
  }

  main ul {
    padding-left: 1.5rem;
  }

  .section-divider.fa {
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 340px) {
  html {
    font-size: 16px;
    min-width: 300px;
  }
}

@media print {
  html {
    font-size: 16px;
  }

  header, #header-outside-container {
    height: 10rem;
  }

  body, header, #header-inside-container {
    color: #000;
    background-color: #FFF;
  }

  h1, header h2, ul.contact, header a, header a:visited {
    color: #2A62BF;
    text-shadow: none;
  }

  main.bottom-border {
    border: none;
    margin-bottom: 0;
  }

  #main-container {
    padding-bottom: 0;
  }

  .section-divider.fa {
    display: none;
  }

  main section {
    padding: 0 3rem;
  }

  main h2, main h3, main h4 {
    color: #000;
  }

  main h2 {
    margin-top: 1.5rem;
  }

  .atomic {
    page-break-inside: avoid;
  }
}
