html {
  font-size: 20px;
}

* {
  margin: 0;
  padding: 0;
  fill: currentColor;
}

::selection {
  background-color: #6197F2;
  color: #FFF;
}

header ::selection {
  background-color: #2A62BF;
}

body {
  background-color: #F4F4F4;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='60' viewBox='0 0 80 40'%3E%3Cpath fill='%23FFF' fill-opacity='.4' fill-rule='evenodd' d='M2.01 39.976c.02-4.594 1.786-9.182 5.302-12.687.475-.478.97-.92 1.483-1.33v9.77L4.54 39.977H2.01zm5.374 0L23.842 23.57c.687 5.35-1.03 10.95-5.154 15.06-.483.482-.987.93-1.508 1.346H7.384zm-7.384 0c.018-5.107 1.982-10.208 5.89-14.104 5.263-5.247 12.718-6.978 19.428-5.192 1.783 6.658.07 14.053-5.137 19.296H0zm10.806-15.41c3.537-2.116 7.644-2.92 11.614-2.415L10.806 33.73v-9.164zM65.25.75C58.578-1.032 51.164.694 45.93 5.93c-5.236 5.234-6.962 12.648-5.18 19.32 6.672 1.782 14.086.056 19.32-5.18 5.236-5.234 6.962-12.648 5.18-19.32zM43.632 23.783c5.338.683 10.925-1.026 15.025-5.126 4.1-4.1 5.81-9.687 5.126-15.025l-20.15 20.15zm7.186-19.156c3.518-2.112 7.602-2.915 11.55-2.41l-11.55 11.55v-9.14zm-3.475 2.716c-4.1 4.1-5.81 9.687-5.126 15.025l6.6-6.6V6.02c-.51.41-1 .85-1.474 1.323zM.07 0C.066 1.766.29 3.533.75 5.25c6.672 1.782 14.086.056 19.32-5.18l.072-.07H.072zm17.087 0C13.25 3.125 8.345 4.386 3.632 3.783L7.414 0h9.743zM2.07 0c-.002.79.047 1.582.147 2.368L4.587 0H2.07z'/%3E%3C/svg%3E ");
  background-position: calc(50% + 40px) 8px;
  color: #808080;
  font-family: "Lato", sans-serif;
}

header {
  background-color: #25A;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='60' viewBox='0 0 80 40'%3E%3Cpath fill='%232A62BF' fill-opacity='.4' fill-rule='evenodd' d='M2.01 39.976c.02-4.594 1.786-9.182 5.302-12.687.475-.478.97-.92 1.483-1.33v9.77L4.54 39.977H2.01zm5.374 0L23.842 23.57c.687 5.35-1.03 10.95-5.154 15.06-.483.482-.987.93-1.508 1.346H7.384zm-7.384 0c.018-5.107 1.982-10.208 5.89-14.104 5.263-5.247 12.718-6.978 19.428-5.192 1.783 6.658.07 14.053-5.137 19.296H0zm10.806-15.41c3.537-2.116 7.644-2.92 11.614-2.415L10.806 33.73v-9.164zM65.25.75C58.578-1.032 51.164.694 45.93 5.93c-5.236 5.234-6.962 12.648-5.18 19.32 6.672 1.782 14.086.056 19.32-5.18 5.236-5.234 6.962-12.648 5.18-19.32zM43.632 23.783c5.338.683 10.925-1.026 15.025-5.126 4.1-4.1 5.81-9.687 5.126-15.025l-20.15 20.15zm7.186-19.156c3.518-2.112 7.602-2.915 11.55-2.41l-11.55 11.55v-9.14zm-3.475 2.716c-4.1 4.1-5.81 9.687-5.126 15.025l6.6-6.6V6.02c-.51.41-1 .85-1.474 1.323zM.07 0C.066 1.766.29 3.533.75 5.25c6.672 1.782 14.086.056 19.32-5.18l.072-.07H.072zm17.087 0C13.25 3.125 8.345 4.386 3.632 3.783L7.414 0h9.743zM2.07 0c-.002.79.047 1.582.147 2.368L4.587 0H2.07z'/%3E%3C/svg%3E ");
  background-position: calc(50% + 40px) 8px;
  color: #FFF;
  display: flex;
  height: 12rem;
  justify-content: center;
}

header a, header a:visited {
  color: currentColor;
  text-decoration: none;
  border-bottom: transparent 1px solid;
}

header a:hover, header a:active {
  border-bottom: rgba(255, 255, 255, 0.4) 1px solid;
}

h1 {
  font-size: 2.75rem;
  font-weight: 400;
  margin-top: auto;
  padding-top: 1rem;
  text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.2);
}

#header-container {
  align-items: center;
  background-color: #2A62BF;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  flex: 0 1 900px;
}

header h2 {
  font-size: 1.15rem;
  letter-spacing: 0.1rem;
  margin-bottom: auto;
  margin-top: 0.1rem;
  text-transform: uppercase;
}

h2.contact-heading {
  display: none;
}

ul.contact {
  align-self: stretch;
  display: flex;
  font-size: 0.85rem;
  font-weight: 300;
  height: 1rem;
  justify-content: space-around;
  letter-spacing: 0.015rem;
  list-style: none;
  margin-bottom: 0.9rem;
  padding: 0 1rem;
  white-space: nowrap;
}

ul.contact .phone-number {
  display: inline-flex;
  align-items: center;
}

ul.contact .phone-dot {
  border: currentColor 0.1rem solid;
  border-radius: 50%;
  display: inline-block;
  height: 0;
  margin-bottom: 0;
  margin-left: 0.15rem;
  margin-right: 0.15rem;
  margin-top: 0.1rem;
  width: 0;
}

ul.contact li {
  align-items: center;
  display: flex;
  flex: 1 1 9rem;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

ul.contact .contact-icon {
  display: flex;
  justify-content: center;
  margin-right: 0.3rem;
}

ul.contact .contact-icon svg {
  height: 0.9rem;
  padding-top: 0.1rem;
}

main {
  display: flex;
  font-size: 1rem;
  font-weight: 300;
  justify-content: center;
  overflow: hidden;
}

#main-container {
  background-color: #FFF;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  flex: 0 1 900px;
  margin-bottom: 2rem;
  margin-top: 0;
  padding-bottom: 2rem;
  padding-top: 0.5rem;
}

main section {
  padding: 0 2rem;
}

main section:first-child {
  padding-top: 1.5rem;
}

main h2, main h3, main h4 {
  font-weight: 400;
}

main h2 {
  color: #505050;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

main h3 {
  color: #606060;
  font-size: 1.15rem;
  font-style: italic;
  margin-bottom: -0.5rem;
  margin-top: 1rem;
}

main h4 {
  color: #707070;
  font-size: 1rem;
  margin-bottom: -0.25rem;
  margin-top: 0.75rem;
}

main p, main ul {
  letter-spacing: 0.01rem;
  line-height: 1.4;
  margin-top: 0.5rem;
}

main ul {
  padding-left: 2rem;
}

main p, main ul li {
  padding-bottom: 0.2rem;
}

.section-divider {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 448'%3E%3Cpath fill-opacity='.1' d='M240 64c0-8.75-7.25-16-16-16s-16 7.25-16 16 7.25 16 16 16 16-7.25 16-16zm208 232v88c0 3.25-2 6.25-5 7.5-1 .25-2 .5-3 .5-2 0-4-.75-5.75-2.25L411 366.5C371.75 413.75 301.25 444 224 444S76.25 413.75 37 366.5l-23.25 23.25C12.25 391.25 10 392 8 392c-1 0-2-.25-3-.5-3-1.25-5-4.25-5-7.5v-88c0-4.5 3.5-8 8-8h88c3.25 0 6.25 2 7.5 5s.5 6.25-1.75 8.75l-25 25C99.25 357 142.5 379 192 385.75V224h-48c-8.75 0-16-7.25-16-16v-32c0-8.75 7.25-16 16-16h48v-40.75c-19-11-32-31.5-32-55.25 0-35.25 28.75-64 64-64s64 28.75 64 64c0 23.75-13 44.25-32 55.25V160h48c8.75 0 16 7.25 16 16v32c0 8.75-7.25 16-16 16h-48v161.75c49.5-6.75 92.75-28.75 115.25-59l-25-25c-2.25-2.5-3-5.75-1.75-8.75s4.25-5 7.5-5h88c4.5 0 8 3.5 8 8z'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  display: block;
  height: 1.15rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
  width: 100%;
}

.bottom-border {
  border-bottom: #6197F2 0.18rem solid;
}

h2.bottom-border {
  padding-bottom: 0.1rem;
}

@media only screen and (max-width: 900px) {
  main {
    margin-bottom: 0;
  }

  #main-container {
    margin-bottom: 0;
  }

  #main-container.bottom-border {
    border: none;
  }
}

@media only screen and (max-width: 640px) {
  html {
    font-size: 18px;
  }
}

@media only screen and (max-width: 500px) {
  header {
    height: 14rem;
  }

  h1 {
    padding-top: 0;
  }

  #header-container {
    align-items: flex-start;
    padding-left: 1rem;
  }

  ul.contact {
    align-self: flex-start;
    flex-direction: column;
    height: auto;
    margin-bottom: 0.75rem;
    padding: 0;
  }

  ul.contact li {
    flex: 0;
    margin: 0.25rem 0;
    padding: 0;
    justify-content: flex-start;
  }

  ul.contact .contact-icon {
    width: 1.25rem;
  }

  ul.contact .contact-icon svg {
    padding: 0;
  }

  #main-container {
    min-width: 0;
  }

  main section {
    padding: 0 1rem;
  }

  main ul {
    padding-left: 1.5rem;
  }

  .section-divider {
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 340px) {
  html {
    font-size: 16px;
    min-width: 300px;
  }
}

@media print {
  html {
    font-size: 16px;
  }

  body, header, #header-container {
    background-color: #FFF;
  }

  header {
    color: #2A62BF;
    height: 9rem;
  }

  #header-container {
    box-shadow: none;
    flex-grow: 1;
  }

  h1 {
    padding-top: 0;
    text-shadow: none;
  }

  ul.contact {
    margin-bottom: 0;
  }

  main {
    color: #000;
    display: block; /* Firefox doesn't break pages properly inside flex containers :'( */
    margin-bottom: 0;
  }

  #main-container {
    border: none;
    box-shadow: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .section-divider {
    display: none;
  }

  main section {
    padding: 0 2rem;
  }

  main section:first-child {
    padding-top: 0;
  }

  main h2, main h3, main h4 {
    color: #000;
  }

  main h2 {
    margin-top: 1.5rem;
  }

  .atomic {
    page-break-inside: avoid;
  }
}
