* {
  margin: 0;
  padding: 0;
}

::selection {
  color: #FFF;
  background-color: #6197F2;
}

header ::selection {
  background-color: #2A62BF;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  background-color: #F4F4F4;
  color: #838C95;
}

header {
  background-color: #2255AA;
}

header a, header a:visited {
  color: #FFFFFF;
  text-decoration: none;
}

header a:hover, header a:active {
  border-bottom: rgba(255, 255, 255, 0.4) 1px solid;
}


header, #header-outside-container {
  height: 208px;
}

h1 {
  color: #FFFFFF;
  font-size: 38pt;
  font-weight: 500;
  margin: 0;
  padding-top: 52px;
  text-shadow: 1px 2px 0 rgba(0,0,0, 0.2);
}

#header-outside-container {
  width: 100%;
  max-width: 900px;
  margin: auto;
}

#header-inside-container {
  min-width: 520px;
  margin: 0 30px;
  background-color: #2A62BF;
  height: 100%;
  text-align: center;
}

header h2 {
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 16pt;
  letter-spacing: 1.8px;
  padding: 2px 0 26px 0;
}

h2.contact-heading {
  display: none;
}

ul.contact {
  margin: 5px 0;
  padding: 0 20px;
  list-style: none;
  color: #FFFFFF;
  font-weight: 200;
  height: 25px;
  font-size: 12pt;
  letter-spacing: 0.2px;
  white-space: nowrap;
}

ul.contact .fa:before {
  margin-right: 6px;
  font-size: 14pt;
  vertical-align: -5%;
}

ul.contact .phone-dot:before {
  margin: 0 3px;
  font-size: 3pt;
  vertical-align: 90%;
}

ul.contact li {
  width: 33.3%;
  min-width: 160px;
  float: left;
  text-align: center;
}

main {
  width: 100%;
  max-width: 900px;
  margin: auto;
  clear: both;
  font-weight: 200;
  font-size: 14pt;
}

#main-container {
  min-width: 520px;
  background-color: #FFFFFF;
  margin: 0 30px;
  padding: 10px 0 20px 0;
}

main h2, main h3, main h4 {
  font-weight: 400;
}

main h2 {
  color: #555;
  font-size: 18pt;
  margin-bottom: 15px;
}

main h3 {
  color: #666;
  margin-top: 20px;
  margin-bottom: -10px;
}

main h4 {
  color: #666;
  margin-top: 15px;
  margin-bottom: -5px;
}

main p, main ul {
  margin-top: 10px;
  line-height: 1.4;
  letter-spacing: 0.1px;
}

main ul {
  padding-left: 2em;
}

main ul li {
  padding-bottom: 4px;
}

main section {
  padding: 0 20px 0 20px;
}

main section:first-child {
  padding-top: 25px;
}

.section-divider.fa {
  display: block;
  width: 100%;
  color: #DDD;
  font-size: 16pt;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.bottom-border {
  border-bottom: #6197F2 3px solid;
  padding-bottom: 2px;
}